{% extends 'blog/base.html' %}
{% load readmore %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
             <div class="date">
                <p>Published: {{ post.published_date }}</p>
             </div>
             <br><br>
            <p>{{ post.text|truncatewords_html:15|linebreaksbr }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}">read more</a>
        </div>
    {% endfor %}
{% endblock %}
